@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rock+Salt&display=swap");

:root {
    --primary-color: #46B1C9;
    --secondary-color: #84C0C6;
    --accent1-color: #BCC1BA;
    --accent2-color: #9FB7B9 ;

    --heading-font: "Rock salt", cursive;
    --paragraph-font: "Open Sans", Sans-serif; 

    --nav-background-color: #BCC1BA;
    --nav-link-color: #48474c;
    --nav-hover-link-color: #FF9999;
    --nav-hover-background-color: #000000 ;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding:20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color:var(--primary-color);
}

#paragraph {
    font-family: var(--paragraph-font);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding:25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    margin: 0 auto;

}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
